# API TOKENS
LLAMA_CLOUD_API_KEY='your_llama_cloud_api_key_here'
OPENAI_TOKEN='your_openai_token_here'
LOCALLLM_TOKEN='your_llama.cpp_api_token_here'

# CUSTOM ENDPOINTS
LOCALLLM_BASEURL='your_localllm_baseurl_here'
# LOCALLLM_BASEURL='your_alternative_localllm_baseurl_here'
OLLAMA_BASEURL='your_ollama_baseurl_here'