torch
diffusers
git+https://github.com/huggingface/transformers@v4.49.0-Gemma-3
accelerate
scipy
safetensors
markdownify

datamodel_code_generator
jsonschema

aia

beautifulsoup4

pyinstaller

runpod

pytest
pytest-mock